.increment {
  font-family: inherit;
  font-size: inherit;
  padding: 1em 2em;
  color: var(--color-primary);
  background-color: oklch(from var(--color-primary) l c h / 0.1);
  border-radius: 2em;
  border: 2px solid transparent;
  outline: none;
  width: 200px;
  font-variant-numeric: tabular-nums;
  cursor: pointer;
}

.increment:focus {
  border: 2px solid var(--color-primary);
}

.increment:active {
  background-color: oklch(from var(--color-primary) l c h / 0.2);
}
