.increment {
  font-family: inherit;
  font-size: inherit;
  padding: 1em 2em;
  color: var(--color-primary);
  background-color: rgba(var(--color-primary-rgb), 0.1);
  border-radius: 2em;
  border: 2px solid rgba(var(--color-primary-rgb), 0);
  outline: none;
  width: 200px;
  font-variant-numeric: tabular-nums;
  cursor: pointer;
}

.increment:focus {
  border: 2px solid var(--color-primary);
}

.increment:active {
  background-color: rgba(var(--color-primary-rgb), 0.2);
}
